<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script>
    var app =angular.module("firstapp",[]);
    app.controller("mycntrl",function($scope){
        $scope.mycode=function()
        {
            var inputvalue=$scope.myInput;
            alert(inputvalue);
            $scope.msg = "Welcome"+inputvalue;
        }
    });
</script>
<body ng-app="firstapp">
    <p>Try writing in the input field:</p>
    <form name="myForm" ng-controller="mycntrl" novalidate>
        <input name="myInput" ng-model="myInput" required>
        <button  ng-click="mycode()">Click</button>
    </form>
    <p>The input's valid state is:</p>
    <span>{{msg}} </span>
</body>
</html>