<!DOCTYPE html>
<html>
<head>
    <title>
        AngularJs Validate Controls in Form
    </title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>  
    <script type="text/javascript">
        var app = angular.module('formApp', []);
        app.controller('formCtrl', function ($scope) {
            $scope.sendForm = function () {
                $scope.firstname = $scope.person.fname;
                $scope.lastname = $scope.person.lname;
                if(firstname =="raghu"&& lastname=="teja")
                {
                    $scope.msg = "Form is Validated";
                }
                else
                {
                    $scope.msg = "Form not Validated";
                }
            };
        });
    </script>
    <style>
        input.ng-invalid
        {
            border: 2px solid red;
        }
        input.ng-valid
        {
            border: 2px solid blue;
        }
    </style>
</head>
<body>
    <div ng-app="formApp" ng-controller="formCtrl" >
        <form name="personForm" ng-submit="sendForm()" novalidate >
            First Name:<input type="text" id="firstname" name="firstname" ng-model="person.fname" ng-required="true"  ng-minlength="5"/>
            <span>
                <span ng-show="personForm.firstname.$error.required"> Required! </span> 
                <span ng-show="personForm.firstname.$error.minlength"> Too Short </span> 
            </span><br><br>     
            Last Name:<input type="text"  id="lastname" name="lastname" ng-model="person.lname" required />
            <span   ng-show="personForm.lastname.$error.required"> Required! </span> <br /><br />
            <button type="submit"> Submit Form</button><br>
            <span>
                <span>{{msg}}</span><br>
                <span> First Name : {{firstnames}}</span><br>
                <span> LastName Name : {{lastname}}</span>
            </span>
        </form>
    </div>
</body>
</html>